{% extends "galleria/root.html" %}

{% load galleria_tags %}

{% block title %}{{ photo.title }}{% endblock %}

{% block content %}
<h2><a href="{% url gl-galleryRoot %}">Photos</a>  &rsaquo; {% for parent in photo.ancestry %}{% textlink parent %} &rsaquo; {% endfor %} {{ photo.title }}</h2>
<div align="center">
    <div style="width:600px; height:400px; margin:10px"><a href="{{ photo.image.url }}"><img border=1px src="{{ photo.display.url }}"/></a></div>
    <div style="margin:5px; clear:both;">{{ photo.printcaption }} <i>{{ photo.date_taken|date:"l, F jS, Y" }}</i>{% if staff %} | <a href="/admin/galleria/photo/{{ photo.id }}/">Admin</a>{% endif %}</div>
</div>
<div id="thumbnav" align="center">
<table><tr>
<td width="50%" style="text-align:right">{% for p in prevn %}{% smallthumb p %}{% endfor %}</td>
<td style="text-align:center"><a href="{{ prev.get_absolute_url }}">&lsaquo;</a></td>
<td style="text-align:center">{% smallthumb photo %}</td>
<td style="text-align:center"><a href="{{ next.get_absolute_url }}">&rsaquo;</a></td>
<td width="50%" style="text-align:left">{% for p in nextn %}{% smallthumb p %}{% endfor %}</td>
</tr></table>
</div>
{% endblock %}
