<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}">
<head>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/base.css{% endblock %}" />
<style type="text/css">
.photo-gallery{float:left; display:block; padding:0px 5px 0px 5px; background-image:url(http://renoir.mit.edu/graygrad.png); background-repeat:repeat-y}
.gallery-photo{float:left; display:block; margin:0px; padding:0px; border:0px; font-size: 0; }
.clear{clear:both}
img{vertical-align:middle;}
td, th {border-bottom:0px}
</style>
{% block extrastyle %}{% endblock %}
{% block extrahead %}{% endblock %}
</head>
{% load i18n %}

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">
<!-- Container -->
<div id="container">
    <!-- Content -->
    <div id="content" class="{% block coltype %}colM{% endblock %}">
        {% block pretitle %}{% endblock %}
        {% if title %}<h1>{{ title }}</h1>{% endif %}
        {% block content %}{{ content }}{% endblock %}
        {% block sidebar %}{% endblock %}
        <br class="clear" />
    </div>
    <!-- END Content -->
</div>
<!-- END Container -->

</body>
</html>
